#toolbar {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 1000;
}

.activity__description {
  border: 1px solid #ccc;
  padding: 2px;
}

.activity__marker {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ae5e5e;
}
